### Heroes Of Pymoli Data Analysis


### Observable Tends:

* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

* The top age demographic of 20-24 drove the largest amount of revenue ($1,114.06) with an average purchase of $4.32. The 35-39 age group has the highest average purchase of $4.76 only slightly ahead of the under 10 age group.
-----

### Note

In [102]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [103]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [104]:
# Use the length of list of screen names "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())

# Create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [105]:
#Counting unique items
number_of_unique_items = len((purchase_data["Item ID"]).unique())

#Average price
average_price = (purchase_data['Price']).mean()
number_of_purchases = (purchase_data['Purchase ID']).count()
total_revenue = (purchase_data['Price']).sum()

#Format variables
dollar_format = "${:,.2f}"
perc_format = "{:,.2f}%"

summary_df = pd.DataFrame({"Number of Unique Items" : [number_of_unique_items],
              "Average Price" : [average_price],
              "Number of Purchases" : [number_of_purchases],
              "Total Revenue" : [total_revenue]})

summary_df.style.format({"Average Price": dollar_format,
                        "Total Revenue": dollar_format})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [106]:
#Grouping data by gender
gender_data = purchase_data.groupby(['Gender'])

#Counting total number of players
total_gender_count = gender_data.nunique()["SN"]

#Calculating percentage of total players by gender
percentage_of_players = (total_gender_count / total_players) * 100

#Creating new data frame with values
gender_df = pd.DataFrame({"Total Count" : total_gender_count, "Percentage of Players" : percentage_of_players})

#Deleting index within data frame
gender_df.index.name = None

#Sorting and adding format
gender_df.sort_values(['Total Count'], ascending = False).style.format({"Percentage of Players":perc_format})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
#Count total purchases by gender
purchase_count = gender_data["Purchase ID"].count()

#Average purchase price by gender
avg_purchase_price = gender_data["Price"].mean()

#Purchase total by gender
purchase_total = gender_data["Price"].sum()

#Average purchse total by gender
avg_purchase_total = purchase_total/total_gender_count

#New dataframe to display values above
gender_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Avg Purchase Price": avg_purchase_price,
                                  "Total Purchase Value": purchase_total,
                                  "Avg Total Purchase": avg_purchase_total})

#Adding format to data frame above
gender_purchase_df.style.format({"Avg Purchase Price": dollar_format, "Total Purchase Value": dollar_format, "Avg Total Purchase": dollar_format})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [108]:
#Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Defining new column in data set with above bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

#Create new dataframe and group by new column "Age Group"
age_group = purchase_data.groupby("Age Group")

#Count players by age category
total_age_count = age_group["SN"].nunique()

#Percentages by age group
percentage_by_age = (total_age_count/total_players) * 100

#Create data frame with new values above
age_group_data = pd.DataFrame({"Total Count": total_age_count,
                            "Percentage of Players": percentage_by_age})

#Delete index in dataframe
age_group_data.index.name = None

#Adding formatting to columns column
age_group_data.style.format({"Percentage of Players": perc_format})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#Count purchases by age group
purchase_count_age = age_group["Purchase ID"].count()

#Average purchase price by age group
avg_purchase_price_age = age_group["Price"].mean()

#Total purchase value by age group
total_purchase_value = age_group["Price"].sum()

#Calculate the average purchase per persion in age group
avg_purchase_price_person = total_purchase_value/total_age_count

#New dataframe with values above
purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_age,
                                       "Average Purchase Price": avg_purchase_price_age,
                                       "Total Purchase Value": total_purchase_value,
                                       "Avg Total Purchase per Person": avg_purchase_price_person})

#Deleteting index columns
purchasing_analysis_age.index.name = None

#Formatting columns
purchasing_analysis_age.style.format({"Average Purchase Price": dollar_format,
                                     "Total Purchase Value": dollar_format,
                                     "Avg Total Purchase per Person": dollar_format})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
#Group purchase data by name
name_data = purchase_data.groupby("SN")

#Purchase count by name
purchase_count_name = name_data["Purchase ID"].count()

#Average Purchase Price 
avg_purchase_price_name = name_data["Price"].mean()

#Total Purchase Value
total_purchase_value_name = name_data["Price"].sum()

#Create new dataframe with info above
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_name,
                            "Average Purchase Price": avg_purchase_price_name,
                            "Total Purchase Value": total_purchase_value_name})

#Sort in descending order
format_top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Format columns
format_top_spenders.style.format({"Average Purchase Price": dollar_format,
                                 "Total Purchase Value": dollar_format})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [116]:
#Create dataframe with select columns
items = purchase_data[["Item ID", "Item Name","Price"]]

#Group by item ID and name
item_group = items.groupby(["Item ID","Item Name"])

#Purchase count, item price and total purchase value
purchase_count = item_group["Price"].count()
purchase_value = (item_group["Price"].sum())
item_price = purchase_value/purchase_count

#New dataframe with value above
popular_items = pd.DataFrame({"Purchase Count": purchase_count,
                             "Item Price": item_price,
                             "Purchase Value": purchase_value})

#Sort and format
popular_items_format = popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_items_format.style.format({"Item Price": dollar_format,
                                   "Purchase Value": dollar_format})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [121]:
#Sorting above table descending by purchase value
popular_items_format = popular_items.sort_values(["Purchase Value"], ascending=False).head()

#Sort and format
popular_items_format.style.format({"Item Price": dollar_format,
                                   "Purchase Value": dollar_format})